<footer class="flex flex-col items-center my-20">

</footer>

{%- set js %}
{% if page.url == "/" %}
{% include "js/watermark.js" %}
{% include "js/html2canvas.js" %}
{% endif %}

{% if page.url == "/tanda-tangan/" %}
{% include "js/signature_pad.js" %}
{% include "js/signature.js" %}
{% endif %}

{% include "js/mobile-menu.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
